<div class="row">
  <div class="col-md-10">
    <h2>{{ project?.name }} <small>initialized: {{ project?.initialized_at | amCalendar }}</small></h2>
  </div>

  <div class="col-md-2">
    <a [href]="'api/builds/' + project?.uuid" class="btn btn-primary btn-sm" target="_blank">Download generated zip</a>
    <br />
    Last rebuilt: {{ project?.built_at | amCalendar }}
  </div>
</div>

<div class="row" *ngIf="directoryListObservable | async; let directoryList">
  <div class="col-md-3 directory-tree">
    <tree-root [nodes]="[directoryList]"
               (activate)="onItemActivated($event)"
               [focused]="true">
    </tree-root>
  </div>
  <div class="col-md-9">
    <app-editor></app-editor>
  </div>
</div>
